* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: rgb(88, 58, 180);
  background: linear-gradient(
    180deg,
    rgba(88, 58, 180, 1) 0%,
    rgba(12, 156, 255, 0.7203256302521008) 50%,
    rgba(69, 252, 185, 1) 100%
  );
  font-size: 1.1rem;
  font-family: 'Quicksand', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
