.TodoList {
  color: #fff;
  border-radius: 15px;
  min-height: 250px;
  max-width: 600px;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem 3rem 3rem;
  margin: 4rem auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.TodoList h1 {
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 15px;
  margin-bottom: 10px;
}
.TodoList h1 span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  margin-left: 3px;
  margin-top: 0.2rem;
}

.clearAllContainer {
  display: flex;
  align-content: flex-start;
  margin: 0.4em;
}

.clearAll {
  font: inherit;
  border: none;
  color: #fff;
  text-decoration: underline;
  background: none;
  padding: 0;
  cursor: pointer;
}
