h2 {
  display: inline;
  margin-top: 0px;
  margin-bottom: 0px;
}

.Todo {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  /* align-items: center; */
  padding: 10px;
  /* max-height: 35px; */
  flex-wrap: nowrap;
  /* text-align: center; */
}

.Todo span {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  /* align-items: center; */
  padding: 10px;
  /* max-height: 35px; */
  flex-wrap: nowrap;
  /* text-align: center; */
}

.completed {
  text-decoration: line-through;
}

.todoDelete,
.todoEdit {
  background-color: aquamarine;
  border-radius: 5px;
  color: rgb(10, 91, 72);
  height: 35px;
  min-width: 35px;
  font-weight: bold;
  border: 1px solid aquamarine;
  margin-right: 10px;
}
