.Todo {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 0.5rem 1.1rem;
  min-height: 77px;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  position: relative;
  transition: opacity 500ms ease-in-out;
}

.Todo span {
  display: flex;
  padding: 10px;
}

.Todo-task {
  position: relative;
  transition: opacity 0.4s linear;
  margin-left: 25px;
  text-align: left;
  font-size: large;
  align-self: center;
}

.completed {
  transition: opacity 300ms ease-in-out;
  transition-delay: 200ms;
  text-decoration: line-through;
  opacity: 0.5;
}

.todoDelete,
.todoEdit {
  flex-shrink: 0;
  padding-left: 0.7em;
  margin-left: auto;

  border: none;
  font-size: 1em;
  margin: 0.4em;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #fff;
}
