.TodoList {
  background-color: antiquewhite;
  width: 20%;
  border: 5px solid aquamarine;
  border-radius: 15px;
  min-height: 250px;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
